<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Soaptag Analytics</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Soaptag Analytics</h1>
            <h2>Activity</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Actor</th>
                        <th>Verb</th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in activity %}
                    <tr>
                        <td>{{ a["time"] }}</td>
                        <td>{{ a["actor"] }}</td>
                        <td>{{ a["verb"] }}</td>
                        <td>{{ a["subject"] }}</td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </body>
</html>
