<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Solve micro-problems and share them with the world - Soaptag</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ static_url("custom.css") }}">
    </head>
    <body>
        <div class="container">

            {% block content %}{% end %}

            <div class="row">
                <div class="col-md-6">
                    <h5>SOCIAL</h5>
                    <ul class="list-unstyled">
                        <li><a target="_blank" href="https://www.facebook.com/soaptag.org">Soaptag on Facebook</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>ABOUT</h5>
                    <ul class="list-unstyled">
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/terms/">Terms of Use</a></li>
                        <li><a href="/support/">Support</a></li>
                        <li><a href="mailto:soaptag@gmail.com">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer">
                <p class="text-muted">&copy; James Hibberd 2013</p>
            </div>

        </div>
    </body>
</html>
