{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="row">

            <!-- main info -->
            <div class="col-md-6">

                <img src="{{ static_url("logo.png") }}">

                <h1>Soaptag</h1>
                <p>Find and leave helpful tags in places around the world.</p>
     
                <!-- Apple App Store link -->
                <a target="_blank" href="https://itunes.apple.com/gb/app/soaptag/id741990470?mt=8&uo=4"><img src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg" /></a>
         
                <!-- Google Play Store link -->
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sundowner"><img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /></a>

            </div>

            <!-- video -->
            <div class="col-md-6">
                <iframe width="480" height="360" src="//www.youtube.com/embed/R4S8W0SbFsw" frameborder="0" allowfullscreen></iframe>
            </div>

        </div> <!-- /row -->
    </div> <!-- /jumbotron -->
{% end %}
